!!!5
%html{class:"no-js",lang:"es"}
  %head
    %meta{charset:"uft-8"}
    %title La mejor comida en Restaurante Web
    %meta{name:"description",content:"Come rico y barato en el mejor restaurante de la ciudad, servicio de primera."}
    %meta{name:"viewport",content:"width=device-width, initial-scale=1"}
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel:"stylesheet", href:"css/bootstrap.css"}
    %link{rel:"stylesheet", href:"css/flexboxgrid.min.css"}
    %link{rel:"stylesheet", href:"https://fonts.googleapis.com/css?family=Dancing+Script" }
    %link{rel:"stylesheet", href:"css/style.css"}
    %script{src:"js/vendor/modernizr-2.8.3.min.js"}
  %body
    ="<!--[if lt IE 8]>"
    %p{class:"browserupgrade"}
      Estás usando un navegador
      %strong desactualizado.
      Por favor
      %a{href:"http://browsehappy.com/"}
      actualiza tu navegador
      para una mejor experiencia
    ="<![endif]-->"
    .video-container
      %video{autoplay:true,loop:true,width:"1280",height:"720",poster:"/videos/images/bbq.jpg"}
        %source{src:"/videos/mp4/bbq.mp4",typ:"video/mp4"}
        %source{src:"/videos/webm/bbq.webm",typ:"video/webm"}
    .row.full-height.middle-xs.center-xs.relative.up#home
      .col-xs-12
        .box.white-text
          %img{src:"/imgs/logo.png",width:200}
          %h1.white-text.dancing-script.title.no-margin Restaurante Facilito
          %p#is-open
            %i.glyphicon.glyphicon-time
            Abierto ahora
      %nav.fixed#navigation.top.right.white-text.navigation
        -menu = ["Inicio","Menú","Galería","Contacto","Cómo llegar"]
        %ul.list-inline
          -menu.each do |item|
            %li
              %a{}= item
      .absolute.black.large-padding.white-text.full-width#description
        .row.middle-xs.center-xs
          .col-xs-7.col-sm-6.white-text.medium
            Atención cálida y comida preparada por artistas
          .col-xs.hidden#sticky-navigation
            .box
              %nav.text-right.navigation
                %ul.list-inline
                  -menu.each do |item|
                    %li
                      %a{}= item

    .text-center.relative#menu
      .absolute.white#menu-title
        %h2.dancing-script.title Menú
      -menu_photos = [{name:"Club Sandwich", image:"club-sandwich",pricing:"10.00"},
                    {name:"Combo Hamburgueza", image:"combo",pricing:"50.00"},
                    {name:"Hamburgueza", image:"hamburger",pricing:"20.00"},
                    {name:"Hot Cakes", image:"hot-cakes",pricing:"15.00"},
                    {name:"Panini", image:"panini",pricing:"12.00"},
                    {name:"Papas al horno", image:"papas",pricing:"17.00"},
                    {name:"Club Sandwich", image:"club-sandwich",pricing:"10.00"},
                    {name:"Hamburgueza", image:"hamburger",pricing:"20.00"}]
      .row
        -menu_photos.each do |photo|
          .col-md-4.col-lg-3.col-sm-6.col-xs-12.food{style:"background-image:url(/imgs/food/#{photo[:image]}-thumb.jpg)"}
            .screen
              .row.middle-xs.full-height
                .col-xs-12.white-text
                  %h3.dancing-script.subtitle= photo[:name]
                  %p.no-margin=photo[:pricing]+ " USD"

    %script{src:"https://code.jquery.com/jquery-3.2.1.min.js",integrity:"sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=",crossorigin:"anonymous"}
    %script
      window.jQuery || document.write("<script src='/js/vendor/jquery-1.12.0.min.js'><\/script>")
    %Script{src:"/js/main.js"}
