!!!5
%html{class:"no-js",lang:"es"}
  %head
    %meta{charset:"uft-8"}
    %title La mejor comida en Restaurante Web
    %link{rel:"stylesheet",href:"/offline/style.css"}
    %meta{name:"description",content:"Come rico y barato en el mejor restaurante de la ciudad, servicio de primera."}
    %meta{name:"viewport",content:"width=device-width, initial-scale=1"}
  %body
    %p#message Parece que no pudimos conectarnos a internet, no hay problema, aquí está la información que necesitas.
    .container
      %h1 Restaurante Facilito
      %p 
        %strong Dirección
        92, San Eduardo, Cañuelas, Buenos Aires
      %p
        %strong Horario
        11am - 5pm
      %p
        %strong Telefono
        02274451595
      %p
        %strong description
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos tenetur, adipisci nobis laudantium aliquid repellat minima saepe odit veritatis, voluptate, recusandae voluptatum illo maxime nisi error id quisquam magnam. Commodi.
      #map
        %img{src:"/offline/mapa.jpg"}
        %p Este Mapa ofrece referencias del lugar buscado.

